@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

@media (max-width: 600px) {

    .container {

    	position: fixed;
    	top: 50%;
        left: 0;
        right: 0;
	    transform: translateY(-50%);
        padding-top: 3vh;
        padding-bottom: 3vh;
        background: #FFFFFF;
	
    }

}

@media (min-width: 601px) {

    .container {

    	position: fixed;
    	top: 50%;
        left: 50%;
	    transform: translate(-50%, -50%);
        padding: 3vw 6vw;
        background: #FFFFFF;
	
    }

}

body {

    font-family: 'Cutive Mono', Times;
    background-color: #FFFFFF;

}

.insert {

    position: fixed;
    top: 1vw;
    bottom:1vw;
    left: 1vw;
    right: 1vw;
    background-image: url("../images/lightroomed-30590022.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}

.container > div {
    
    margin: 0 auto;
    text-align: center;

}

.container > .name > h1 {

    margin-top: 0;
    font-size: 2em;
    white-space: nowrap;

}

.container > .social > h5 {

    margin-bottom: 0.8em;

}

.container > .social > ul {

    list-style-type: none;
    padding: 0;
    margin-top: 0.5em;

}

.container > .social > ul > li {

    margin: 4px auto 4px auto;

}

.container > .social > ul > li > a {

    color: #1a1a1a;

}

.container > .social > ul > li > a:hover {

    color: #000000;

}


.avatar > img {

    width: 100%;
    
}

.copyright {

    font-size: 0.7em;
    text-align: center;

}
