@import url('https://fonts.googleapis.com/css?family=Merriweather');

@media (max-width: 600px) {

    .container {

    	position: fixed;
    	top: 50%;
      left: 0;
      right: 0;
	    transform: translateY(-50%);
      padding-top: 3vh;
      padding-bottom: 3vh;
	
    }

}

@media (min-width: 601px) {

    .container {

    	position: fixed;
    	top: 50%;
      left: 50%;
	    transform: translate(-50%, -50%);
      padding: 3vw 6vw;
	
    }

}

body {

    font-family: "Merriweather", Times;
    background-color: #fff;
    color: #1e1e1e;

}

.insert {

    position: fixed;
    top: 1vw;
    bottom:1vw;
    left: 1vw;
    right: 1vw;
    background-color: #FFF;
    border: 1px solid #777777;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}

.container > div {
    
    margin: 0 auto;
    text-align: center;

}

.container > .name > img {

    width: 175px;

}

.container > .name > h4 {

    margin-bottom: 2em;

}

.container > .social > h5 {

    margin-bottom: 1.1em;

}

.container > .social > ul {

    list-style-type: none;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 2em;

}

.container > .social > ul > li {

    margin: 6px auto 6px auto;
    font-size: 0.9em;

}

.container > .social > ul > li > a {

    color: #1a1a1a;

}

.container > .social > ul > li > a:hover {

    color: #000000;

}

.copyright {

    font-size: 0.6em;
    text-align: center;

}
