
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

@media (min-height: 600px) {

    .container {

	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	
    }
    
}

@media (max-width: 400px) {

  .avatar {

    width: 100vw;
      
  }

}

@media (min-width: 400px) {

  .avatar {

    width: 400px;

  }

}

.container > div {

    margin: 0 auto;
    text-align: center;
    font-family: 'Architects Daughter', Times;
    
}

.avatar > img {

    width: 100%;
    
}
