@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

body {

	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

}

.box {

	display: inline-block;
	margin: 3em 1em 3em 1em;
	text-align: center;
	font-family: 'PT Serif', Arial;
	font-size: 1.2em;

}

.box > div {

	margin-top: 0.5em;
	margin-bottom: 0.5em;
	
}

.box > .header {

	padding-top: 1vh;

}

.box > .header > h1 {

	padding-top: 0.2em;
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-size: 2.5em;
	margin: 0;
}

.box > .header > .avatar {

	overflow: hidden;
	border-radius: 100%;
	box-shadow:
		0 0 0 3px #fff,
		0 0 0 5px rgba(0, 0, 0, 0.9);
	width: 15em;
	height: 15em;
	margin: 0 auto;

}

.box > .header > .avatar > img {

	width: 100%;
	height: 100%;

}

.box > .contacts > .button {

	margin: 1.5em;

}

.box > .contacts > #email {

	margin-top: 0.8em;

}

.box > .contacts > .button > .reveal {

	transition: 
		max-height 1s,
		visibility 1s,
	    margin 1s,
    	opacity 0.5s;
	font-size: 1.2em;
	margin-top: 0.4em;

}

.box > .contacts > .button > .reveal:not(.active) {

	max-height: 0;
	margin-top: 0;
	margin-bottom: 0;
	opacity: 0;
	visibility: hidden;

}

.box > .contacts > .button > .active {

	max-height: 10em;
	opacity: 1;
	visibility: visible;

}

.box > .contacts > .button > span {

	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0.1em;
	
}

.box > .contacts > .button > .reveal a:hover {

	color: #4C4C4C;

}

.box > .contacts > .button > .reveal a {

	color: #000;
	text-decoration: none;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);

}

.box > .contacts {

	padding-bottom: 3vh;

}

.box > .contacts > p {

	margin: 0;

}

@media (min-width: 800px) {

	.box > .about-myself {

		width: 55%;

	}

}

.box > .about-myself {

	text-align: center;
	margin: 0 auto;

}

.box > .about-myself > p > .lang {

	font-size: 1.2em;
	font-family: 'PT Serif', serif;
	font-weight: normal;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

